@import "./simplicity.css";
@import "./style2.css";
@import "./bestseller.css";
@import "./topsellers.css";
@import "./testimonials.css";
@import "./footer1.css";



* {
    box-sizing: border-box;
    padding: 60px 60px;
    margin: 0;
    font-family: sans-serif;
}
html, body {
    margin: 0;
    height:100%;
    width:100%;
    padding:0;
}

header{
    /*height: 100px;*/
    padding:50px 60px;  
    margin-left: 50px; 
    margin-bottom: 0px;  
}
header .container{
    display: flex; 
    margin-left: 50px;  
}
header .navigation{
    padding-left: 30px;
    justify-content: left;
    margin: auto 0;
    text-transform: uppercase;
}
header .container .logo-name{
    font-size: 50px;
    font-weight: 700;
    font-family:Arial, Helvetica, sans-serif;
}
header .container .mando{
   color: rgb(243, 241, 241);
}
header .container .navigation {
    display: flex; 
}
header .navigation li {
    list-style-type: none;
    margin-left: 40px;  
}
header .navigation li a {
    font-size: 20px;
    text-decoration: none;
    color: black;
}
header .navigation li :hover {
    border-bottom: 2px solid orange;
    margin-top: 6px; 
}
header .container .icons {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 150px;
}
header .container .icons .fa-solid,
header .container .icons .fa-regular{
   margin-left: 45px;
   font-size: 25px;
   color: gray;
   position: relative;
   
}
header .container .orange-bubble {
    width: 20px;
    height: 20px;
    background-color: orange;
    border-radius: 50%;
    right: 160px;
    position: relative;
    color: white;
    text-align: center;
    font-weight: 800;
}
header .container .orange-bubble span{
   position: relative;
   font-size: 12px;
}

/*Laptops Devices*/
@media only screen and (max-width: 1215px)  {
   
}

@media only screen and (max-width: 1023px)  {
    header .container {
        padding-right: 80px;  
        margin: 0 0 0 0px;
    }
}

@media only screen and (max-width: 767px)  {
    header {
        padding: 20px 0px;
        margin-left: 0px;
    }

    header .container {
        display: flex;
        flex-wrap: wrap;
        margin-left: 20px;  
    }
    header .container .logo-name{
        display: flex;
        justify-content: center;
    }
    header .container .mando{
       
    }
    header .navigation  {
        padding-left: 0px;
        right: 20px;
    }
    header .navigation li {
        margin-left: 20px;
    }
    header .container .icons {
        margin-right: 120px;
    }
    header .container .icons .fa-solid,
    header .container .icons .fa-regular{
    margin-top: 20px;;
    font-size: 20px;
    position: relative;
} 
   header .navigation   {
    display: inline-block;
 }
    header .navigation li a {
       font-size: 15px;
    }
    header .container .orange-bubble {
       display: none;
    }
}